<div class="row">
	<div class="col-md-6">
		<% blog.comments.each do |comment| %> 
			<div class="comment">
				<strong><%= comment.author %></strong>
				<p><%= comment.content %></p>
				<%= link_to 'Delete', [blog, comment], method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn-link" %>
			</div>
			<br>
		<% end %>	
	</div>
</div>
