// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-text {
	text-align: center;
}

.blog-post {
	border-bottom-color: darkgreen;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.byline {
	font-size: 10px;
	color: darkgrey;
}

#recentposts {
	background-color: rgb(242, 242, 242);
	padding: 10px;
	margin-right: 10px;
	border-radius: 10px;
}

.fixedblock {
	display: inline-block;
	position: fixed;
}

.relativeblock {
	display: inline-block;
	position: relative;
}

a {
  color: black;

  &:visited {
    color: purple;
  }

  &:hover {
    color: darkblue;

  }
}