// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin-top: 50px;
    margin-bottom: 15px;

}

.center-text {
    text-align: center;
}

.jumbotron {
    text-align: center;
    background-image: image-url("jumbotronbackground.jpg");
    background-size: cover;
}

#bottomfooter {
	width: 100%;
	clear: both;
	background-color: rgb(222, 222, 222);
	position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

#copyright {
	margin: 0px 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}